name: Build Snap

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: snapcore/action-build@v1
        id: snapcraft
      
      - uses: actions/upload-artifact@v4
        with:
          name: enpass-snap
          path: ${{ steps.snapcraft.outputs.snap }}
