name: Notify via Email

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'Automatically updated to')"

    steps:
      - uses: actions/checkout@v4

      - name: Send mail
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Enpass Snap has been automatically updated
          body: New version of enpass found! Go check if it works and push to stable. https://github.com/chrismin13/enpass-snap
          to: ${{secrets.MAIL_USERNAME}}
          from: ${{secrets.MAIL_USERNAME}}
