name: CI

on:
  schedule:
    # Runs daily at 9 AM UTC
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  update-version:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Add Enpass repository
        uses: myci-actions/add-deb-repo@11
        with:
          repo: deb https://apt.enpass.io/ stable main
          repo-name: enpass
          keys-asc: https://apt.enpass.io/keys/enpass-linux.key
            
      - name: Update file if needed
        run: |
          # Find the latest version from the Enpass repository
          latest=$( apt-cache show enpass | grep -m1 Version: | sed -e 's/Version: //g' )
          echo "The latest Enpass version is $latest"
          
          # Find the current version in snapcraft.yaml
          current=$( grep -m1 version: snap/snapcraft.yaml | sed -e "s/version: //g" | tr -d "'" )
          echo "The current snapcraft version is $current"
          
          if [ "$current" = "$latest" ]; then
              echo "Current version is up to date!"
          else
              echo "Updating from $current to $latest"
              sed -i "s/$current/$latest/g" snap/snapcraft.yaml
              
              git config --global user.name 'Christos Miniotis'
              git config --global user.email 'chrismin13@users.noreply.github.com'
              git commit -am "Automatically updated to $latest"
              git push
          fi
